#root {
  padding: 40px;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}



.layout {
  display: grid;
  grid: "sidebar body" 1fr / 8% 85%;
  gap: 40px;
  max-width: 100vw;
}

.sidebar { 

  grid-area: sidebar; 
  

}

.body { 
  
  grid-area: body; 

}
